@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Light.ttf"),
    url("../assets/fonts/Outfit-Medium.ttf");
}

$prim-clr-1: #10141e;
$prim-clr-2: #161d2f;
$prim-clr-3: #5a698f;
$prim-clr-4: #ffffff;
$prim-clr-5: #fc4747;
$prim-clr-6: #6d6d6e;

$prim-clr-1-trans: #10141ea2;
$prim-clr-2-trans: #ffffff24;

$font-name: "Outfit";
